/initialJavaFXApplication/nbproject/private/
/FileManagmentProject/nbproject/private/
/FileManagmentProject/build/
/FileManagmentProject/dist/
/2DGame/nbproject/private/
/2DGame/dist/
/2DGame/build/
/testingLibraries/target/
/tutorialEdge/nbproject/private/
/tutorialEdge/dist/
/tutorialEdge/build/
/initialJavaFXApplication/build/
/initialJavaFXApplication/dist/
/motorGraficosLWJGLV1/nbproject/private/
/motorGraficosLWJGLV1/build/
/TestInterficies/dist/
/motorGraficosLWJGLV1/dist/
/capitulo4/nbproject/private/
/capitulo4/build/
/capitulo4/dist/