/initialJavaFXApplication/nbproject/private/
/FileManagmentProject/nbproject/private/
/FileManagmentProject/build/
/FileManagmentProject/dist/
/2DGame/nbproject/private/
/2DGame/dist/
/2DGame/build/
/testingLibraries/target/