#padreNuestro{
    -fx-background-color:rgb(70,70,70);
    
}


#texto_top{
    -fx-text-fill: white;
}

#texto_top:hover{
    -fx-text-fill: rgb(200,200,200);
}

.claseBoton{
    -fx-body-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , rgb(10, 140, 180),rgb(0, 110, 150));

    -fx-background-color: 
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 3px, 3px, 2px, 1px;
}

.claseBoton:hover{
    -fx-body-color:rgb(0, 115, 153);
    -fx-background-color: 
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;
}